
.rcorners {
    border-radius: 7px;
    border: 1px solid #71775b;    
    padding-left: 12px;!important;
    padding-right: 12px;!important;
    padding-bottom: 7px;!important;
  }
  
  
  .bleft {
    margin-topss:7px;
    border-radius: 10px; 
    border-left: 9px solid rgb(77, 73, 73);
    }
  
  .pleft {
        border-left: 9px solid rgb(77, 73, 73);
   }
            
  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  
  
  .ppd {
    background: #d4f9ff;
  }
  
  .mpd {
    background: #fffbae;
  }
  
  
  .ra {
    
    background: #ffc4ae;
  
  }
  
  .divtitle {
    text-align: center;
    margin-top:-7px;
    margin-bottom:-1px;
    
  }
  
  
  
  .apd {
    background: #f1e2f5;
  }
  
  .mid {
    background: #fee3e9;
  }
  
  .miding {
    background: #f0cbd3;
  }
  
  .apding {
    background: #cad8d4;
  }
  
  .pack {
    background: #b2eece;
  }
  
  
  .beginlist {
  
  }
  
  .listcontainer{
    margin-top: 7px;
    padding-top: 7px;
  
  }
  
  
  .packitem {
    background: #cbddd3;
  }
  
  .classif {
  
  }
  
  
  dl, ol, ul {
    margin-bottom: .1rem;
  }
  
  .nonumbers::before {
    content: "" !important;
  }

  .cud {
    background: #e9fee3;
  }
  